= render :partial => "knb_auction/application/auction_engine"

%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description

-if current_user.admin?
  =render :partial => "admin_show"

= link_to 'Products List', products_path
