= form_for(@bid, :url => auction_bids_path(@auction)) do |f|
  - if @bid.errors.any?
    #error_explanation
      %h2= "Your bid couldn't be sumbitted:"
      %ul
        - @bid.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :goodles
    = f.text_field :goodles
  .actions
    = f.submit 'Submit Bid'
