= form_for(@bid, :url => auction_bids_path(@auction)) do |f|
  - if @bid.errors.any?
    #error_explanation
      %h2= "Your bid couldn't be sumbitted:"
      %ul
        - @bid.errors.full_messages.each do |msg|
          %li= msg
  .minimum-bid= minimum_bid(@auction)
  //.user-goodles= goodles_to_spend(current_user)
  .bid-entry
    = f.label "How many Goodles do you want to bid?"
    = f.text_field :goodles
  .actions
    = f.submit 'Submit Bid'
    \|
    = link_to 'Cancel Bid', auction_path(@auction)
