%h1 Listing bids

%table
  %tr
    %th Owner
    %th Bid at
    %th Goodles
    %th
    %th
    %th

  - @bids.each do |bid|
    %tr
      %td= link_to bid.owner_name, main_app.users_path(bid.owner)
      %td= bid.bid_at.localtime.strftime("%m/%d/%y %I:%M:%S %p %Z")
      %td= bid.goodles
      %td= link_to 'Show', bid
      %td= link_to 'Edit', edit_auction_bid_path(@auction, bid)
      %td= button_to "Delete", auction_bid(bid), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?"

%br

= link_to 'New Bid', new_auction_bid_path(@auction)
