= render :partial => "knb_auction/application/auction_engine"

%h3.title.center= "New bid for #{@auction.product_name.upcase}"

%h4.center
  = minimum_bid(@auction)
  %br
  = "You can spend #{goodles_to_spend(@active_child)} G"
.bid-entry-form= render 'form'
