%p
  %b Auction:
  = @bid.auction.product_name
%p
  %b Owner:
  = @bid.owner_name
%p
  %b Goodles:
  = @bid.goodles
%p
  %b Bid at:
  = @bid.bid_at



= link_to 'Edit', edit_auction_bid_path(@auction, @bid)
\|
= link_to 'Back to Auction', @auction
