-content_for :head do
  = stylesheet_link_tag 'knb_auction/application'

.auction
  -unless controller.controller_name == "home"
    - status_label(auction.status) {auction.status.to_s.upcase}
    - if current_user && current_user.admin?
      .pull-right.btn.btn-danger.btn-mini= link_to "delete", auction, :method=>:delete, :confirm=>"Are you sure?"
      .clear-fix.pull-right= link_to 'edit', edit_auction_path(auction)
  .auction-item
    .span1
      .product-image= image_tag auction.product.main_image(:thumb)
    .span8
      .product-info
        .name
          = auction_product_name( auction )
        .description= auction.product.description
    -if auction.active?
      .span1
        .time-left
          = auction_time_left( auction )
          .time-left-label="left to bid"
    -unless controller.controller_name == "home"
      .span1
        .high-bid-info
          ="high bid is"
          .high-bid= "#{auction.high_bid.goodles} G"
          .high-bidder= bid_owner_name( auction.high_bid )
    -if auction.active? && current_user && current_user.child?
      .span1
        .btn.btn-success= link_to 'Bid', new_auction_bid_path(auction)