-if @auction.active?
  .bid-button= link_to 'New Bid', new_auction_bid_path(@auction)
%br
-if @bids.count > 0
  %h1.title Bid History
  %table.bid-table
    %tr
      %th Bidder
      %th Bid at
      %th Goodles
      %th
      %th
      %th
      - @bids.each do |bid|
        .bid-item
          %tr
            %td= bid_owner_name( bid )
            %td= bid.bid_at.localtime.strftime("%m/%d/%y %I:%M:%S %p %Z")
            %td= bid.goodles
            - if current_user.admin?
              -# %td= link_to 'Show', auction_bid_path(@auction, bid)
              -# %td= link_to 'Edit', edit_auction_bid_path(@auction, bid)
              %td= button_to "Delete", auction_bid_path(@auction, bid), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?"