-content_for :after_javascripts do
  = javascript_include_tag 'knb_auction/application'

= form_for @auction do |f|
  - if @auction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@auction.errors.count, "error")} prohibited this auction from being saved:"
      %ul
        - @auction.errors.full_messages.each do |msg|
          %li= msg
          
  .start-at.input-append#datetimepicker
    = f.label :start_at
    = f.text_field :start_at, "data-format" => "yyyy/MM/dd HH:mm:ss"
    %span.add-on>
      %i{data: {"date-icon" => 'icon-calendar', "time-icon" => 'icon-time'}}
  .duration
    = f.label :duration
    = f.select(:duration, KnbAuction::Auction::DURATION_WHITELIST)
  .product
    = f.label :product
    =collection_select(:auction, :product_id, @product_dropdown, :id, :name, {include_blank: false})
  .start-price
    = f.label :reserve
    = f.text_field :reserve
  .actions
    = f.submit 'Save'
