-content_for :head do
  = stylesheet_link_tag 'knb_auction/application'

.auction.auction-small
  .auction-item
    .span2
      .product-image.center= image_tag auction.product.main_image(:thumb)
    .span8
      .product-info
        .name
          = auction_product_name( auction )
        .description= auction.product.description
    -if auction.active?
      .span2
        .time-left
          = auction_time_left( auction )
          .time-left-label="left to bid"