-content_for :head do
  = stylesheet_link_tag 'knb_auction/auction'

.auction.auction-small
  .auction-item
    .span2
      .product-image.center= image_tag auction.product.main_image(:thumb)
    .span7
      .product-info
        .name
          = auction.product_name.upcase
        .description= auction.product.description
    -if auction.active?
      .span3
        .time-left
          = auction_time_left( auction )
          .time-left-label="left to bid"