= render :partial => "knb_auction/application/auction_engine"

%h1.title= @title
.filters.center
  = link_to "All", :action => "index", :filter => "all"
  \|
  = link_to "Active", :action => "index", :filter => "active"
  \|
  = link_to "Closed", :action => "index", :filter => "closed"
  \|
  = link_to "Upcoming", :action => "index", :filter => "upcoming"

=render :partial => 'auction', :collection => @auctions


- if current_user.admin?
  %br
  .actions
    = link_to 'Create a new Auction', new_auction_path
