= render :partial => "knb_auction/application/auction_engine"
= render :partial => "bid_modal"

-content_for :header do
  .offset3
    .span8
      = image_tag "knb_auction/kids-klout-banner.png"

%h4.center
  = link_to "All", :action => "index", :filter => "all"
  \|
  = link_to "Active", :action => "index", :filter => "active"
  \|
  = link_to "Closed", :action => "index", :filter => "closed"
  \|
  = link_to "Upcoming", :action => "index", :filter => "upcoming"
%br
.row-fluid
  .span12
    =render :partial => 'auction', :collection => @auctions


- if current_user && current_user.admin?
  %br
  .row-fluid
    .offset4.span4
      = link_to('create a new auction', new_auction_path, class: "btn btn-warning btn-large btn-span")