= render :partial => "knb_auction/application/auction_engine"


-content_for :header do
  .offset3
    .span8
      = image_tag "knb_auction/kids-klout-banner.png"

%h4.actions.center
  = link_to "go back to the auctions list", auctions_path
  - if current_user && current_user.admin?
    \|
    = link_to 'edit this auction', edit_auction_path(@auction)

.upper.left= link_to "", auctions_path, :class => "backBtn"
%br

=render :partial => "auction", locals: {auction: @auction}

=render :partial => "bid"

%br
%h4.actions.center
  = link_to 'go back to the auctions list', auctions_path
  - if current_user && current_user.admin?
    \|
    = link_to 'edit this auction', edit_auction_path(@auction)