%h1 Auction Details
%h2.product= link_to @auction.product_name, @auction.product
.auction_status
  - status_label(@auction.status) {@auction.status.to_s.upcase}
.start_at="Start at: #{@auction.start_at.localtime.strftime("%m/%d/%y %I:%M:%S %p %Z")}"
.end_at="End at: #{@auction.end_at.localtime.strftime("%m/%d/%y %I:%M:%S %p %Z")}"
%br
%br

=render :partial => "bid"

%br
%br
%br

= link_to 'Auctions List', auctions_path
- if current_user.admin?
  \|
  = link_to 'Edit this Auction', edit_auction_path(@auction)