.container
  .row
    .span3
      =link_to main_app.root_path do
        .logo=image_tag "logo.png"
    .span9
      .navbar.navbar-static-top
        .links
          %ul.nav
            %li= link_to "WELCOME", "#"
            %li= link_to "VIDEO", "#"
            %li= link_to "TRY GAMES", "#"
            %li= link_to "NEWS & MOOS", "#"
            %li{class: "#{'active' if current_page?(auction_engine.root_path)}"}= link_to "AUCTIONS", auction_engine.root_path